# Flutter/Dart
.dart_tool/
.idea/
.pub-cache/
.pub/
build/
*.iml
.flutter-plugins-dependencies
.flutter-plugins

# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/*.log
android/hs_err_pid*.log

# iOS/macOS
*.xcworkspace/
*.xcodeproj/
Pods/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Podfile.lock

# Windows
windows/flutter/ephemeral/
windows/runner/GeneratedPluginRegistrant.*
windows/CMakeUserPresets.json
windows/*.user
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake